:root {
  --color-principal: rgb(134, 134, 193);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: var(--color-principal);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  width: 100%;
}

.nav {
  display: none;
}

main {
  padding: 80px 20px 20px 20;
}

@media (min-width:470px) {
    nav {
        display: inline-block;
    }

    
}
